##
## Basic lighttpd configuration.
##
server.document-root        = "/current-dir/www-root/html"
server.port                 = 8888
server.username             = "usrname"
server.groupname            = "grpname"
index-file.names            = ( "index.php", "index.html", "index.lighttpd.html" )

##
## mimetype mapping.
##
mimetype.assign             = (
  ".html"         =>      "text/html",
  ".htm"          =>      "text/html",
  ".pdf"          =>      "application/pdf",
  ".jpg"          =>      "image/jpeg",
  ".jpeg"         =>      "image/jpeg",
  ".png"          =>      "image/png",
)

server.modules              = (
         "mod_alias",
         "mod_webdav"
)

$SERVER["socket"] == ":8889" {
     server.name = "fileserver"
     server.document-root = "/current-dir/www-root/web"
     alias.url = ( "/webdav" => "/current-dir/www-root/web" )
     $HTTP["url"] =~ "^/webdav($|/)" {
         webdav.activate = "enable"
         webdav.is-readonly = "disable"
   }
}
